@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="border: 4px solid black;">
    <div class="row">
        <div class="col-sm">
            Azua
        </div>
        <div class="col-sm">
            Bani
        </div>
        <div class="col-sm">
            Santiago
        </div>
        <div class="col-sm">
            Santo Domingo
        </div>
    </div>
</div>
